{% extends 'adminbase.html' %}
{% block content %}
{% load static %}
<style>
    .background-container {
        background-image: url('{% static "images/admin.jpg" %}');
        background-repeat: no-repeat;
        background-size: cover;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        filter: blur(0.1px);
        z-index: -1;
    }
    .overlay {
        position: fixed;
        top: 56px; /* Adjusted for navbar height */
        left: 220px; /* Adjusted for navbar width */
        width: calc(100% - 220px); /* Adjusted for navbar width */
        height: calc(100% - 56px); /* Adjusted for navbar height */
        background-color: rgba(12, 9, 9, 0.6);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        overflow-y: auto;
        padding: 20px;
        box-sizing: border-box;
    }
    .nav-link {
        border-radius: 10px;
    }
    .nav-link:hover {
        background-color: indigo;
    }
    .time-card {
        width: 700px;
        margin-bottom: 20px;
        margin-top: 50px;
        background-color: #fff;
        border-radius: 15px;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
        padding: 20px;
        text-align: center;
        transition: transform 0.3s, box-shadow 0.3s;
    }
    .time-card:hover {
        transform: scale(1.02);
        box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
    }
    .time-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .time-details {
        display: flex;
        justify-content: space-around;
        width: 100%;
        margin-top: 10px;
    }
    .time-details div {
        text-align: center;
    }
   
   
    .weather-icon {
        color: #007bff;
        font-size:3rem;
    }
    .inspiration {
        font-size: 1.2rem;
        color: #555;
        margin-top: 20px;
        font-style: italic;
    }
    
    .card-deck {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }
    .card {
        width: 300px;
        height: 200px;
        margin: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 15px;
        transition: transform 0.3s, box-shadow 0.3s;
        text-align: center;
    }
    .card:hover {
        transform: scale(1.05);
        box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
    }
    .card-icon {
        font-size: 60px;
        margin-bottom: 10px;
        transition: color 0.3s;
    }
    .bg-orange {
        background-color: #FFA500;
    }
    .bg-green {
        background-color: #28a745;
    }
    .bg-red {
        background-color: #dc3545;
    }
    .bg-orange .card-icon {
        color: #FFD700;
    }
    .bg-green .card-icon {
        color: #32CD32;
    }
    .bg-red .card-icon {
        color: #FF6347;
    }
    
   
    @media (max-width: 576px) {
        .overlay {
            position: fixed;
            top: 56px; 
            left:auto;/* Adjusted for navbar height */
            width:100%; /* Adjusted for navbar width */
            
            background-color: rgba(12, 9, 9, 0.6);
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            overflow-y: auto;
            padding: 20px;
            box-sizing: border-box;
        }
        .time-card{
            max-width:250px;
        }
        .card {
            max-width: 150px;
            justify-content: center;
            align-items: center;
            margin-top: 10px;
            border-radius: 10px;
           
        }
        .card-deck {
            margin-top: 20px;
        }
        
        .weather-icon {
            color: #007bff;
            font-size:2rem;
        }
        
        .card-title {
            font-size: 0.9rem;
            color: #ffffff;
        }
        .card-text {
            font-size: 0.7rem;
            color: #ffffff;
        }
        .time-card .card-title {
            color: #007bff;
            font-weight: bold;
            font-size: 0.9rem;
        }
        .time-card .card-text {
            font-size: 0.7rem;
            color: #17a2b8;
        }
        .time-card .inspiration {
            font-size: 0.8rem;
            color: #6c757d;
            font-style: italic;
        }
        .time-card .card-text span {
            color: #28a745;
            font-weight: bold;
            font-size: 0.8rem;
        }
    }
    .time-card .card-title {
        color: #007bff;
        font-weight: bold;
    }
    .time-card .card-text {
        font-size: 1.2rem;
        color: #17a2b8;
    }
    .time-card .inspiration {
        color: #6c757d;
        font-style: italic;
    }
    .time-card .card-text span {
        color: #28a745;
        font-weight: bold;
    }
    .card-title {
        font-size: 1.4rem;
        color: #ffffff;
    }
    .card-text {
        font-size: 1.3rem;
        color: #ffffff;
    }
</style>
<div class="background-container img-fluid"></div>
<div class="overlay">
    <div class="time-card text-center">
        <div class="time-content">
            <p class="inspiration" id="inspiration"></p>
            <i class="fas fa-sun weather-icon"></i>
            <p class="card-title">Date & Time</p>
            <p class="card-text">
                <span id="date"></span>  | <span id="time"></span> 
            </p>
        </div>
    </div>
    <div class="card-deck">
        <div class="card bg-orange text-white text-center">
            <div class="card-body">
                <i class="fas fa-user card-icon"></i>
                <h5 class="card-title">Total Agents</h5>
                <p class="card-text">10</p>
            </div>
        </div>
        <div class="card bg-green text-white text-center">
            <div class="card-body">
                <i class="fas fa-users card-icon"></i>
                <h5 class="card-title">Total Clients</h5>
                <p class="card-text">32</p>
            </div>
        </div>
        <div class="card bg-red text-white text-center">
            <div class="card-body">
                <i class="fas fa-file-alt card-icon"></i>
                <h5 class="card-title">Total Policies</h5>
                <p class="card-text">50</p>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        // Display date and time
        var dateElement = document.getElementById('date');
        var timeElement = document.getElementById('time');
        var inspirationElement = document.getElementById('inspiration');
        var today = new Date();
        
        var options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };
        dateElement.textContent = today.toLocaleDateString('en-US', options);
        
        function updateTime() {
            var now = new Date();
            timeElement.textContent = now.toLocaleTimeString('en-US', { hour: '2-digit', minute: '2-digit' });
        }

        updateTime();
        setInterval(updateTime, 60000); 

        
        var messages = [
            "Every day is a fresh start.",
            "Believe in yourself and all that you are.",
            "Your only limit is your mind.",
            "Push yourself, because no one else is going to do it for you.",
            "Success is not for the lazy.",
            "Believe you can and you're halfway there."
        ];

       
        var randomMessage = messages[Math.floor(Math.random() * messages.length)];
        inspirationElement.textContent = randomMessage;
    });
</script>
{% endblock %}











