{% extends 'base.html' %}
{% block content %}
{% load static %}
<style>
    body, html {
        height: 100%;
        margin: 0;
        font-family: Arial, sans-serif;
    }
    .header, .footer {
        background-color: #333;
        color: white;
        text-align: center;
        padding: 1em 0;
    }
    .hero {
        background: url('{% static "images/login.jpg" %}') no-repeat center center/cover;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        padding: 20px;
    }
    .login-container {
        background-color: rgba(255, 255, 255, 0.8);
        padding: 40px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        text-align: center;
        width: 100%;
        max-width: 400px;
    }
    .login-container h2 {
        margin-bottom: 20px;
        color: #333;
    }
    .login-container input[type="text"],
    .login-container input[type="password"] {
        width: 100%;
        padding: 10px;
        margin: 10px 0;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
    }
    .login-container button {
        background-color: #0056b3;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        width: 100%;
        margin-top: 20px;
    }
    .login-container button:hover {
        background-color: #007BFF;
    }
</style>
</head>
<body>

<div class="hero">
    <div class="login-container">
        <h2>Login</h2>
        <form method="POST" action="{% url 'login_db' %}">
            {% csrf_token %}
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>
            <button type="submit" class="btn ">Login</button>
        </form>
    </div>
</div>
<div class="footer">
    <p>Copyright &copy; 2024 [Company Name] - Simplifying Insurance Management</p>
    <div class="social-icons">
        <p class="follow text-white text-center">Follow Us On</p>
        <a href="#" class="social-icon text-white"><i class="fab fa-facebook-f"></i></a>
        <a href="#" class="social-icon text-white"><i class="fab fa-twitter"></i></a>
        <a href="#" class="social-icon text-white"><i class="fab fa-instagram"></i></a>
    </div>
    
    
</div>
</body>
</html>
{% endblock %}

