{% extends 'adminbase.html' %}
{% block content %}
{% load static %}
<style>
    .background-container {
        background-image: url('{% static "images/admin.jpg" %}');
        background-repeat: no-repeat;
        background-size: cover;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        filter: blur(0.1px);
        z-index: -1;
    }
    .overlay {
        position: fixed;
        top: 66px; /* Adjusted for navbar height */
        left: 220px; /* Adjusted for navbar width */
        width: calc(100% - 220px); /* Adjusted for navbar width */
        height: calc(100% - 56px); /* Adjusted for navbar height */
        display: flex;
        justify-content: center;
        align-items: center;
         /* Allow vertical scrolling */
        padding: 20px; /* Additional padding for better spacing */
        background-color: rgba(12, 9, 9, 0.5);
        
    }
    @media (min-width: 992px) {
        .vertical-nav {
            position: fixed;
            top: 56px;
            left: 0;
            width: 220px;
            height: 100%;
            
            overflow-y: auto;
            padding-top: 30px;
        }
        .nav-link {
           
           
            border-radius:10px;
        }
        .nav-link:hover {
            background-color: indigo;
        }
    }
    .table-container {
        position: relative;
        z-index: 1;
        width: 100%;
        max-width: 100%; /* Ensure full width on smaller screens */
        height: calc(100% - 56px); /* Adjusted for navbar height */
        overflow-y: auto;
        overflow-x: auto; /* Allow horizontal scrolling */
        margin: 0 auto; /* Center the table container */
    }
    .table-responsive {
        width: 100%;
        display: block;
        overflow-x: auto; /* Enable horizontal scrolling */
    }
    table {
        width: 100%;
        border-collapse: collapse;
        
    }
    th, td {
        padding: 8px;
        text-align: left;
        border: 1px solid #ddd;
    }
    .profile-image {
        max-width: 100px; /* Adjust as needed */
        max-height: 100px; /* Adjust as needed */
    }
    .cert-image {
        max-width: 100px; /* Adjust as needed */
        max-height: 100px; /* Adjust as needed */
    }
    @media (max-width: 991px) {
        .overlay {
            top: 56px; /* Adjust for navbar height */
            left: 0;
            width: 100%;
            height: calc(100% - 56px); /* Adjust for navbar height */
            padding: 10px; /* Reduce padding for smaller screens */
        }
        .table-container {
            padding: 10px; /* Reduce padding for smaller screens */
            max-width: 100%; /* Ensure full width on smaller screens */
            height: calc(100% - 56px); /* Adjust for navbar height */
        }
    }
    .card {
        display: flex;
        justify-content: center;
        align-items: center;
        background: blueviolet;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        max-width: 300px;
        width: 100%;
        padding: 0px;
        box-sizing: border-box;
        margin-top: 5px;
        padding-top:15px;
        transition: transform 0.3s, box-shadow 0.3s;
    }
    .card:hover {
        transform: translateY(-10px);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    }
    
    .card img {
        max-width: 150px;
        border-radius: 8px;
        margin-right: 0px;
        transition: transform 0.3s, box-shadow 0.3s;
    }
    .card img:hover {
        transform: scale(1.1);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    }
    .card-details {
        display: flex;
        flex-direction: column;
       
        justify-content: center;
        align-items: center;
    }
    .card-content h2 {
        margin-bottom: 10px;
        font-size: 24px;
        color: #333;
    }
    .card-content p {
        margin-bottom: 10px;
        font-weight: bold;
        color: #666;
    }
    .card-content p a {
        color: #007BFF;
        text-decoration: none;
        transition: color 0.3s;
    }
    .card-content p a:hover {
        color: #0056b3;
    }
    .card-content p:last-child {
        margin-bottom: 0;
    }
    
    @media (max-width: 575px) {
        .profile-image {
            max-width: 40px; /* Adjust as needed for smaller screens */
            max-height: 40px; /* Adjust as needed for smaller screens */
        }
        
       
        h2{
            font-size:1.3rem;
        }
        td{
            font-size:0.8rem;
        }
        th{
            font-size:0.9rem;
        }
        .btn{
            
            font-size: 0.6rem;
            padding: 2px 2px;
            margin-bottom:3px;
             }
             .card{
                max-width:250px;
                justify-content: center;
                align-items: center;
            }
            .card-details {
                display: flex;
                flex-direction: column;
               
                justify-content: center;
                align-items: center;
            }     
    }
</style>
<body>
<div class="background-container"></div>
<div class="overlay">
    <div class="container table-container">
        <h2 class="text-center text-white">Agent Details</h2>
        <br>
        <div class="table-responsive">
            <table class="table table-bordered text-white text-center">
                <thead >
                    <tr class="">
                        <th>Name</th>
                        <th>Email</th>
                        <th>Contact</th>
                        <th>Position</th>
                        <th>Image</th>
                        <th>Track</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    
                    <tr>
                        <td>Arun S</td>
                        <td>Arun@gmail.com</td>
                        <td>9867453212</td>
                        <td>Insurance Specialist</td>
                        <td><img src="{% static "images/vishnu.jpg" %}" alt="" class="profile-image"><br>
                            <a class=" view text-white" href="" data-toggle="modal" data-target="#viewModal">See More</a>
                        </td>
                        <td><a class=" track text-white" href=""  data-toggle="modal" data-target="#mapModal">Click Here</a></td>
                        <td><button class="btn btn-primary mr-3"><a class=" edit text-white" href="{% url 'update_agent' %}">Update</a></button>
                            <button class="btn btn-danger"><a class=" delete text-white" href="">Delete</a></button>
                            </td>
                    </tr>

                </tbody>
            </table>

        </div>
    </div>
</div>
<div class="modal fade" id="viewModal" tabindex="-1" role="dialog" aria-labelledby="viewModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content  text-white">
            <div class="modal-header">
                <h5 class="modal-title text-dark" id="viewModalLabel">Agent Profile</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body row justify-content-center">
                <div class="card ">
                    <div>
                        
                        <img src="{% static "images/vishnu.jpg" %}" alt="Profile Picture">
                        
                    </div>
                    <div class="card-details">
                        <h2 class="">Arun S</h2>
                        <p class="text-white">Email: Arun@gmail.com</p>
                        <p class="text-white">Contact:9867453212 </p>
                        <p class="text-white">Position:Insurance Specialist</p>
                        <button class="btn btn-primary mb-2"><a class="  text-white" href="{% url 'client_details' %}">client Details</a></button>
                       
                        
                    </div>
                    
                </div>
                
            </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="mapModal" tabindex="-1" role="dialog" aria-labelledby="mapModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="max-width: 40%;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="mapModalLabel">Agent Location</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <iframe 
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3151.8354345093747!2d144.9556515153163!3d-37.81732797975148!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad642af0f11fd81%3A0xf0727b1f50197b76!2sFederation%20Square!5e0!3m2!1sen!2sau!4v1620662657236!5m2!1sen!2sau"
                    width="100%" 
                    height="300" 
                    style="border:0;" 
                    allowfullscreen="" 
                    loading="lazy">
                </iframe>
            </div>
        </div>
    </div>
</div>
</body>
{% endblock %}